html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Footer */

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
*/
 #map {
  width: 40%;
  height: 50%;
}